.ui.button-2:hover {
    -webkit-box-shadow: 2px 5px 5px 2px rgba(178, 0, 0, 0.77);
    -moz-box-shadow: 2px 5px 5px 2px rgba(178, 0, 0, 0.77);
    box-shadow: 2px 5px 5px 2px rgba(178, 0, 0, 0.77);
}